<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teach Me Something New</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <header>
    <div class="subtitle">
      <h1>🍕knowledge Bytes🍕</h1>
     
    </div>
  </header>
  <main>
    <div class="title">
      <h2>Learn about: <span id="topic"></span></h2>
    </div>
    <div class="summary">
      
        <div class="bottom-div">
          <p>  
            Click the 'Teach me something new' button, and watch as our web application generates a fascinating PDF summary, handpicked from Wikipedia's vast collection. ✨📚
Whether you're seeking intellectual stimulation, expanding your knowledge, or simply indulging your curiosity, our platform is here to guide you. 🧠🌍
          </p>
        </div>
        <div class="bottom-div">
          <p> Uncover the beauty of unpredictability in learning. 🌟
            Our web application entices you with a delightful surprise - random PDF summaries drawn from the vast spectrum of Wikipedia's knowledge. 📚🎉
            Embrace the wonder of chance as you embark on an intellectual adventure. 🚀
            </p>
          </div>
        </div>
    </div>
        
        
      </div>
      <div class="counter">
        <h3>PDFs Generated: <span id="counter">{{ counter }}</span></h3>
      </div>
      <div class="button-container">
        <form action="/generate" method="POST">
          {{ captcha() }}
          <button type="submit">Teach me something!</button>
        </form>
      </div>
      <div class="subtitle">
        <p>Powered by Wikipedia</p>
        <img src="{{ url_for('static', filename='wiki.png') }}" alt="Wikipedia Logo">
      </div>
    </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
