<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
</head>
<link rel="stylesheet" type="text/css" href="static/index.css" />
<link
  rel="shortcut icon"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
<body>
    
    <div class= "main-outer">
        <div class = "first-box">
            <p>Enter a valid github username</p> 
            <form method="POST">
                <input name="text">
                <input type="submit">
            </form>
        </div> 
        <div class = "second-box">
            
            
            
            <p>Enter a username and the name of a valid github repo associated with said user.</p> 
            <form method="POST">
                <input name="username" placeholder="user name">
                <input name="repository" placeholder="Repository name">
                <input type="submit" >
            </form>             
        </div> 
    </div>


</body>
 
</html>