<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teach Me Something New</title>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <header>
    <h1>Teach Me Something New</h1>
  </header>
  <main>
    <button id="generate-btn">Teach Me Something</button>
    <div id="summary">
      <h2>Lorem Ipsum</h2>
      <p>
        Uncover the beauty of unpredictability in learning. Our web application entices you with a delightful surprise - random PDF summaries drawn from the vast spectrum of Wikipedia's knowledge. Embrace the wonder of chance as you embark on an intellectual adventure.
      </p>
      <p>
        Click the 'Teach me something new' button and watch as our web application generates a fascinating PDF summary, handpicked from Wikipedia's vast collection. Whether you're seeking intellectual stimulation, expanding your knowledge, or simply indulging your curiosity, our platform is here to guide you
      </p>

     <form action="/generate" method="POST">
        <input type="submit" value="Short">
     </form>
     rtdshgsre
     <form action="/generate" method="POST">
         <input type="submit" value="Medium">
     </form>
        srtdhtgrsts
     <form action="/generate" method="POST">
        <input type="submit" value="Long">
    </form>
    
    </div>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
